
#homepage1 { color: white;
   position: relative;
     top: 15%;

}
.form-inputs label {
     color: white;
}

abbr[title="required"] {
  display: none;
}

input[type="submit"].button {
  border-radius: 3px;
}
